body {
	text-align: center;
	background-color: #003369;
	color: black;
	font-family: "Avenir Black";
}

h1 {
	font-weight: bold;
	font-size: 3em;
	background: #5d8dc0;
	color: white;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background-color: white;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #5d8dc0;
	color: white;
}

.full-width {
	display: flex;
	width: 90%;
	margin: 0.25em auto;
	padding: 0.25em;
}

.headerText {
	padding: 0.4em;	
}

.chartSection {
	background-color: white;
	font-size: 1em;
}

.headerImage {
	height: 2em;
}

.chartClass {
}
