body {
	text-align: center;
	background-color: #003369;
	color: white;
}

h1 {
	font-weight: bold;
	font-size: 3em;
	background: #5d8dc0;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background-color: #5d8dc0;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #7895b4;
}

.full-width {
	display: block;
	width: 70%;
	margin: 0.75em auto;
	padding: 0.5em;
}

.chart-section {
	background-color: white;
}
